@import "tailwindcss";

body {
  @apply min-h-screen bg-gray-950;
  font-family: Pretendard;
}

/* 슬라이드 인 애니메이션 */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.3s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

/*  제목  */
.text-main-title {
  @apply text-3xl font-bold text-gray-50; /* <h1>(메인타이틀) 앱 전체의 가장 큰 제목 탭 제목 */
}
.text-title {
  @apply text-xl font-bold text-gray-50; /* <h1> (타이틀) 페이지 제목 */
}
.text-subtitle {
  @apply text-lg font-semibold text-gray-50; /* <h2>  크기 골라 쓰기*/
}
.text-heading {
  @apply text-base font-semibold text-gray-50; /* <h3>, <h4> */
}

/*  본문 */
.text-body-primary {
  @apply text-sm font-medium text-gray-50; /* <span>, <p> */
}
.text-placeholder {
  @apply text-sm font-normal text-gray-400; /* 안내 문구 */
}

/*  작은 글씨 */
.text-label-form {
  @apply text-xs font-semibold text-gray-300; /* <label> */
}
.text-meta {
  @apply text-xs font-normal text-gray-500; /* 메타데이터 */
}

/* 4. 버튼 */
.text-button {
  @apply text-sm font-semibold text-gray-50; /* <button> */
}

.btn-create {
  @apply bg-green-600 flex items-center justify-center rounded-lg text-gray-50 text-base font-semibold cursor-pointer transition-all hover:bg-green-700;
}

.btn-cancel {
  @apply bg-gray-600 flex items-center justify-center rounded-lg text-gray-50 text-base font-semibold cursor-pointer transition-all hover:bg-gray-700;
}

.btn-delete {
  @apply bg-red-600 flex items-center justify-center rounded-lg text-gray-50 text-base font-semibold cursor-pointer transition-all hover:bg-red-700;
}

.modal {
  @apply bg-gray-400/60 backdrop-blur-3xl border border-slate-300/40 rounded-2xl shadow-xl max-w-xl z-50 w-full
}

.modal-input {
  @apply bg-gray-600 text-white p-2 rounded w-full placeholder-gray-400 focus:outline-none
}

.modal-bg {
  @apply fixed inset-0 z-50 flex justify-center items-center p-4 backdrop-blur-sm bg-black/50
}

