@import "tailwindcss";

body {
  @apply min-h-screen bg-gray-950;
  font-family: Pretendard;
}

/* 슬라이드 인 애니메이션 */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.3s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

/*  제목  */
  .text-main-title {
    @apply text-3xl font-bold text-gray-50; /* <h1>(메인타이틀) 앱 전체의 가장 큰 제목 탭 제목 */
  }
  .text-title {
    @apply text-xl font-bold text-gray-50; /* <h1> (타이틀) 페이지 제목 */
  }
  .text-subtitle {
    @apply text-lg font-semibold text-gray-50; /* <h2>  크기 골라 쓰기*/
  }
  .text-heading {
    @apply text-base font-semibold text-gray-50; /* <h3>, <h4> */
  }

  /*  본문 */
  .text-body-primary {
    @apply text-sm font-medium text-gray-50; /* <span>, <p> */
  }
  .text-placeholder {
    @apply text-sm font-normal text-gray-400; /* 안내 문구 */
  }

  /*  작은 글씨 */
  .text-label-form {
    @apply text-xs font-semibold text-gray-300; /* <label> */
  }
  .text-meta {
    @apply text-xs font-normal text-gray-500; /* 메타데이터 */
  }

  /* 4. 버튼 */
  .text-button {
    @apply text-sm font-semibold text-gray-50; /* <button> */
  }
